.Title_container{
    height: 90vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('/assets/patio-escola.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    

    & .title-text{
        width: 700px;
        height: auto;
        padding: 5px;
        margin-top: 10px;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;
        z-index: 2;


        & h1{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.5rem;
            color: white;
        }

        & h2{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: white;
        }
    }

    & .title-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;

    }

    & .title-btn{
        position: relative;
        z-index: 22;

        background-color: #5A6ED8;
        padding: 0 auto;
        width: 170px;
        height: 40px;
        border-radius: 10px;
        border: none;

        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 20px;
        cursor: pointer;

        list-style: none;

        & a{
            text-decoration: none;
            color: white;
            font-size: 1rem;
        }
    }
}

.historico_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    & .historico-img{
        width: 50vw;
        margin: 15px;

        & img{
            display: flex;
            justify-content: center;

            height: 90vh;
            width: 400px;
            border-radius: 10px;
        }
    }

    & .historico-text{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        padding-top: 30px;

        width: 50vw;

        & .text-title{
            
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 2px;
            margin-bottom: 15px;

            & h2{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                font-size: 3.5rem;

                width: 50vw;
                text-align: center;
            }
        }

        .text-content{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            flex-wrap: nowrap;

            width: 40vw;
            font-size: 1.5rem;

            margin: 10px;

            &  .itemNumero{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px;
                
                width: 40px;
                height: 40px;
                background-color: #5A6ED8;

                text-align: center;
                font-weight: bolder;

                border-radius: 10px;
            }

            & .itemContent{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 5px;


                & h3{
                    display: flex;
                    justify-content: flex-start;

                    font-size: 2rem;
                    margin-left: 5px;
                }
            }
        }
    }
}

.missao_container{
    display: flex;
    justify-content: center;
    align-items: center;

    & .missao-img{
        width: 50vw;
        margin: 15px;

        & img{
            display: flex;
            justify-content: center;

            height: 90vh;
            width: 400px;
            border-radius: 10px;
        }
    }

    & .missao-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        padding-top: 30px;

        width: 50vw;

        & .missao-text-title{
            
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 2px;
            margin-bottom: 15px;

            & h2{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                font-size: 3.5rem;

                width: 50vw;
                text-align: start;
            }
        }

        & .missao-text-title-content{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            flex-wrap: nowrap;

            width: 40vw;
            font-size: 1.5rem;

            margin: 10px;
            margin-left: 0 auto;

            & .missao-itemContent{
                width: 30vw;
                height: 15vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 5px;
                padding: 10px;

                margin-left: 0 auto;

                background-color: #d2ddf9;
                border-radius: 10px;

                & h3{
                    display: flex;
                    justify-content: flex-start;

                    font-size: 1.5rem;
                    margin-left: 5px;
                    font-weight: 200;
                }

                & p{
                    display: flex;
                    justify-content: flex-start;

                    font-size: 1.2rem;
                    margin-left: 5px;
                }
            }
        }
    }
}